/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/
canvas {
    height: 25vw;
    width: 45vw;
    margin: 0px 10px;
    border: 5px solid rgba(0, 0, 0, 30%);
    background-color: rgba(0, 0, 0, 40%);
    opacity: 1;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.encode-tabs {
    /* border-bottom: 1px solid #ddd; */
}
.encodenav {
    padding-left: 0;
    list-style: none;
}
.encode-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.encodenav>li {
    position: relative;
    display: block;
}
.encode-tabs>li.active>a, .encode-tabs>li.active>a:hover, .encode-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.encode-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.encodenav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    color: #4232c2;
}
p, a {
    font-weight: 400;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 50px;
    padding-inline-start: 40px;
}
h4{
    font-size: 2rem;
    margin: 10px 10px;
}
h6{
    font-size: 1.5rem;
    margin: 10px 10px;
}
.encode-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}
.encode-info>h4 {
    text-align: center;
}
.encodealert {
    /* padding: 1.5rem; */
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-top: 5px;
}
.endecode{
    height: 45px;
}
.encodebtn{
    padding: 6px 12px;
    margin: 5px auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    border-color: #ccc;
    float: right;
    color: #212529;
}
